##Setting-Python
/Setting-Python/__pycache__
/Setting-Python/__pycache__/
/Setting-Python/__pycache__/*
/Setting-Python/*.pyc
/Setting-Python/venv
/Setting-Python/venv/
/Setting-Python/venv/*
/Setting-Python/.env

#Setting-Nodejs
/Setting-Nodejs/node_modules
/Setting-Nodejs/node_modules/
/Setting-Nodejs/node_modules/*

##Frontend
/Frontend/node_modules
/Frontend/node_modules/
/Frontend/node_modules/*
/Frontend/.env

##Backend
/Backend/vendor
/Backend/vendor/
/Backend/vendor/*
/Backend/public/storage
/Backend/storage/*.key
/Backend/.env

#NotificationAndLogs
/NotificationAndLogs/vendor
/NotificationAndLogs/vendor/
/NotificationAndLogs/vendor/*
/NotificationAndLogs/public/storage
/NotificationAndLogs/storage/*.key
/NotificationAndLogs/.env